* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.top-strip {
  width: 100%;
  background: #222845;
}

.top-strip-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  padding: 24px 0px;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
}

.active-1 {
  color: #8a8fa7;
  text-decoration: none;
  text-transform: uppercase;
}

.active {
  color: #ffffff;
}

.language span {
  color: #8a8fa7;
  margin: 0px 18px;
}

.top-strip-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-strip-contact a {
  text-decoration: none;
  text-transform: uppercase;
}

.top-strip-contact a i {
  color: #8a8fa7;
  margin-right: 8px;
}

.top-strip-contact a span {
  color: #ffffff;
  text-transform: uppercase;
}

.line {
  color: #8a8fa7;
  padding: 0px 16px;
}

.top-strip-login a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.top-strip-login > .login {
  margin-right: 24px;
}

.top-strip-login > .search {
  color: #8a8fa7;
}

.fullScreen {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #21303fab;
  display: none;
  z-index: 500;
  height: 6400px;
}

.inputBox {
  position: relative;
  margin: 0 auto;
  top: 187px;
  max-width: 1140px;
  background: #fff;
  padding: 2px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 500;
}

.inputBox input {
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  color: #b6b6b6;
  border-radius: 30px;
  background: #fff;
  padding-left: 15px;
}

.inputBox button {
  border: none;
  background: transparent;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 15px;
}

.inputBox button:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.inputBox button i {
  font-size: 30px;
  color: #b6b6b6;
}

.closeBtn {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 16px;
  position: absolute;
  top: 65px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.closeBtn > i {
  color: #b6b6b6;
}

.navigation {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0px 25px 0px;
  font-family: "Ubuntu", sans-serif;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-heading {
  width: 53%;
  margin-left: 10px;
}

.logo-heading > h1 {
  font-size: 18px;
  color: #b99663;
  font-weight: normal;
  font-family: "Merriweather", serif;
}

.logo-heading > h1 > span {
  font-size: 20px;
  color: #222845;
}

.menu {
  display: none;
  width: 0;
  height: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  margin-right: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #424242;
  font-weight: bold;
  font-size: 15px;
}

.navigation-btn {
  padding: 19px 19px 18px;
  border: 1px solid #cfcfcf;
}

.navigation-btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: #424242;
  font-weight: bold;
  font-size: 15px;
}

.banner {
  margin-bottom: 100px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.slider-images {
  width: 50%;
}

.slider-1 img {
  width: 100%;
  height: 478px;
}

.slider-content {
  width: 50%;
  background: #f4f4f4;
}

.slider-content-1 {
  padding-bottom: 50px;
  padding-left: 70px;
}

.slider-content-1.slick-current {
  background: #222845;
  border-left: 4px solid #b99663;
}

.slider-content-1.slick-current h2 {
  font-size: 26px;
  color: #ffffff;
  font-family: "Merriweather", serif;
  margin-top: 30px;
}

.slider-content-1.slick-current p {
  font-size: 15px;
  color: #8a8fa7;
  font-family: "Ubuntu", sans-serif;
  width: 83%;
  line-height: 160%;
}

.slider-content-1.slick-current a {
  color: #ffffff;
  background: #b99663;
}

.slider-content-1 h2 {
  font-size: 26px;
  color: #222845;
  font-family: "Merriweather", serif;
  margin-top: 30px;
}

.slider-content-1 p {
  font-size: 15px;
  color: #222845;
  font-family: "Ubuntu", sans-serif;
  width: 83%;
  line-height: 160%;
}

.slider-btn {
  padding: 15px 0px;
  margin-top: 30px;
}

.slider-btn a {
  color: #b99663;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 22px;
  border: 1px solid #b99663;
}

.slider-active {
  background: #222845;
  border-left: 4px solid #b99663;
}

.slider-active h2 {
  font-size: 26px;
  color: #ffffff;
  font-family: "Merriweather", serif;
  margin-top: 30px;
}

.slider-active p {
  font-size: 15px;
  color: #8a8fa7;
  font-family: "Ubuntu", sans-serif;
  width: 83%;
  line-height: 160%;
}

.slider-active a {
  color: #ffffff;
  background: #b99663;
}

.banner-up {
  display: block;
  position: absolute;
  bottom: 50px;
  z-index: 3;
  left: 30px;
  color: #fff;
  font-size: 20px;
}

.banner-down {
  display: block;
  position: absolute;
  bottom: 22px;
  z-index: 3;
  color: #fff;
  font-size: 20px;
  left: 30px;
}

.find-your-course {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  gap: 25px;
}

.find-your-course form {
  background: #f7f7f7;
  padding: 40px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 33%;
}

.find-your-course form h2 {
  font-size: 22px;
  font-weight: normal;
  color: #222845;
  font-family: "Merriweather", serif;
  margin-bottom: 30px;
  position: relative;
}

.find-your-course form h2:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 2px;
  background-color: #ebebeb;
}

.find-your-course form p {
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  color: #222845;
  margin-bottom: 20px;
}

.checkbox-1 > input[type=radio] {
  display: none;
  opacity: 0;
}

.checkbox-1 label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 21px;
  color: #424242;
  margin-bottom: 0;
  margin: 0 19px 15px 0;
}

.checkbox-1 label:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid #b99663;
}

.checkbox-1 input[type=radio]:checked + label:before {
  content: "";
  background-color: #b99663;
  -webkit-box-shadow: 0 0 0 1px #f7f7f7 inset;
          box-shadow: 0 0 0 1px #f7f7f7 inset;
}

.checkbox-2 > input[type=radio] {
  display: none;
  opacity: 0;
}

.checkbox-2 label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 21px;
  color: #424242;
  margin-bottom: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
}

.checkbox-2 label:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid #b99663;
}

.checkbox-2 input[type=radio]:checked + label:before {
  content: "";
  background-color: #b99663;
  -webkit-box-shadow: 0 0 0 1px #f7f7f7 inset;
          box-shadow: 0 0 0 1px #f7f7f7 inset;
}

.search {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.search input[type="text"] {
  border: none;
  border-bottom: 2px solid #eaeaea;
  width: 100%;
  position: relative;
  padding: 15px 0px;
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  padding-left: 20px;
  font-size: 15px;
  color: #a9a9a9;
  margin-bottom: 7px;
  outline: none;
}

.search a {
  text-decoration: none;
  position: absolute;
  top: 17px;
  right: 7px;
  color: #a9a9a9;
}

.select {
  width: 100%;
}

.select > select {
  border: none;
  border-bottom: 2px solid #eaeaea;
  width: 100%;
  position: relative;
  padding: 15px 0px;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  font-size: 15px;
  color: #a9a9a9;
  padding-left: 20px;
  margin-bottom: 24px;
}

.srch-crse-btn {
  padding: 14px 0px;
}

.srch-crse-btn > a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  color: #b99663;
  padding: 14px 22px;
  border: 1px solid #b99663;
}

.srch-crse-btn a:hover {
  background: #b99663;
  color: #ffffff;
}

.courses {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22% 27% 22% 22%;
      grid-template-columns: 22% 27% 22% 22%;
  grid-gap: 15px;
  width: 67%;
}

.course-1 {
  background: #222845;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 52px;
  border-left: 4px solid transparent;
}

.course-1 > i {
  font-size: 42px;
  color: #ffffff;
  margin-bottom: 25px;
}

.course-1-text {
  font-size: 16px;
  font-family: "Merriweather", serif;
  color: #ffffff;
}

.course-1:hover {
  border-left: 4px solid #b99663;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.course-1:hover i {
  color: #b99663;
}

.popular-courses {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.popular-courses-heading {
  margin: 0 auto;
  font-family: "Merriweather", serif;
  font-size: 26px;
  margin-bottom: 60px;
}

.pop {
  color: #222845;
  position: relative;
}

.pop:before {
  content: '';
  position: absolute;
  background: #222845;
  height: 2px;
  width: 48px;
  right: 0;
  bottom: -11px;
}

.crs {
  color: #b99663;
  position: relative;
}

.crs:before {
  content: '';
  position: absolute;
  background: #b99663;
  height: 2px;
  width: 48px;
  left: 0;
  bottom: -11px;
}

.popular-courses-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 15px;
}

.popular-course-1 {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  border: 1px solid #eaeaea;
}

.popular-course-1-image {
  width: 100%;
  height: 186px;
  position: relative;
}

.popular-course-1-image > img {
  width: 100%;
  height: 100%;
}

.popular-course-1-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b99663ab;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
}

.popular-course-1-overlay-links {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.popular-course-1-overlay-links > a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  color: #b99663;
  padding: 15px 24px;
  background: #ffffff;
  border: 1px solid transparent;
}

.popular-course-1-overlay-links > a:hover {
  background: inherit;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.popular-course-1:hover .popular-course-1-overlay {
  opacity: 1;
}

.popular-course-1-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.popular-course-1-tutor-image {
  position: absolute;
  top: -25px;
  left: 18px;
}

.popular-course-1-tutor {
  width: 100%;
  background: #222845;
  margin-bottom: 30px;
}

.popular-course-1-tutor > h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #c3c8e2;
  font-weight: normal;
  padding: 19px 0px 19px 91px;
}

.course-name > h3 {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: normal;
  color: #222845;
  text-align: center;
  padding: 0px 44px;
  margin-bottom: 20px;
}

.course-fee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0px 33px;
}

.course-fee > span {
  position: absolute;
  width: 155px;
  height: 1px;
  background: #eaeaea;
  top: 12px;
}

.course-fee > h3 {
  padding-left: 170px;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #b99663;
  margin-bottom: 6px;
  font-weight: normal;
}

.popular-course-1-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 33px;
  margin-bottom: 27px;
}

.users {
  margin-right: 15px;
}

.users > i, .comments > i {
  color: #dfdfdf;
  margin-right: 8px;
}

.users > span, .comments > span {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #222845;
}

.why-choose-us {
  width: 100%;
  background: #f7f7f7;
  margin-bottom: 100px;
}

.why-choose-us-container {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.why-choose-us-content-heading {
  text-align: center;
  margin-bottom: 100px;
}

.why {
  font-family: "Merriweather", serif;
  font-size: 26px;
  color: #222845;
  position: relative;
}

.why:before {
  content: '';
  position: absolute;
  background: #222845;
  height: 2px;
  width: 48px;
  right: -38px;
  bottom: -11px;
}

.c-us {
  font-family: "Merriweather", serif;
  font-size: 26px;
  color: #b99663;
  position: relative;
}

.c-us:before {
  content: '';
  position: absolute;
  background: #b99663;
  height: 2px;
  width: 48px;
  left: 40px;
  bottom: -11px;
}

.why-choose-us-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  padding-bottom: 130px;
}

.fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fact > span {
  font-size: 60px;
  color: #b99663;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 3px dotted #dadada;
}

.fact > p {
  font-family: "Merriweather", serif;
  font-size: 16px;
  color: #222845;
  font-weight: normal;
  text-align: center;
}

.why-choose-us-form {
  background: #fff;
  border: 16px solid #fff;
  padding: 95px 37px 100px;
  -webkit-box-shadow: 0 0 0 3px #f7f7f7 inset;
          box-shadow: 0 0 0 3px #f7f7f7 inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.why-choose-us-form > h1 {
  font-family: "Merriweather", serif;
  font-size: 22px;
  font-weight: normal;
  color: #222845;
  text-align: center;
  margin-bottom: 30px;
}

.why-choose-us-form > p {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #222845;
  font-weight: normal;
  text-align: center;
  margin-bottom: 55px;
}

.why-choose-us-form > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #b99663;
  border: 1px solid #b99663;
  padding: 14px 22px;
}

.why-choose-us-form > a:hover {
  background: #b99663;
  color: #ffffff;
}

.why-choose-us-form-image {
  position: absolute;
  right: -243px;
  top: -37px;
  display: none;
}

.you-can-learn {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.you-can-learn-heading {
  margin: 0 auto;
  margin-bottom: 60px;
}

.you-can {
  font-family: "Merriweather", serif;
  font-size: 26px;
  color: #222845;
  position: relative;
}

.you-can:before {
  content: '';
  position: absolute;
  background: #222845;
  height: 2px;
  width: 48px;
  right: 10px;
  bottom: -11px;
}

.learn {
  font-family: "Merriweather", serif;
  font-size: 26px;
  color: #b99663;
  position: relative;
}

.learn:before {
  content: '';
  position: absolute;
  background: #b99663;
  height: 2px;
  width: 48px;
  left: -6px;
  bottom: -11px;
}

.you-can-learn-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 24px;
}

.dep-1-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.dep-1-image img {
  width: 100%;
  height: 100%;
}

.dep-1-image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  background: #222845;
}

.dep-1-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.dep-1-image-overlay-links {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 54%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.dep-1-image-overlay-links > h3 {
  font-family: "Merriweather", serif;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 23px;
  font-weight: normal;
}

.dep-1-image-overlay-links > a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  color: #b99663;
  border: 1px solid #b99663;
  padding: 14px 24px;
  opacity: 0;
}

.dep-1-image-overlay-links > a:hover {
  color: #ffffff;
  background: #b99663;
}

.dep-1-image:hover .dep-1-image-overlay {
  background: #222845;
  opacity: .9;
}

.dep-1-image:hover .dep-1-image-overlay-links > a {
  opacity: 1;
}

.dep-1-image:hover .dep-1-image-overlay-links {
  top: 46%;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.our-latest-events {
  width: 100%;
  background: #f7f7f7;
  margin-bottom: 100px;
}

.our-latest-events-container {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 88px;
  gap: 24px;
}

.our-latest-events-main {
  margin-top: 100px;
}

.ole-heading {
  margin-bottom: 60px;
}

.ole-heading > h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  color: #c8c8c8;
  text-transform: capitalize;
  font-weight: normal;
}

.ole-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}

.about-us {
  width: 70%;
  position: relative;
}

.about-us-slider {
  width: 300px;
}

.about-us-slider-1 > p {
  font-family: "Merriweather", serif;
  font-size: 15px;
  color: #222845;
  line-height: 150%;
  margin-bottom: 25px;
}

.left-triangle > i {
  position: absolute;
  bottom: -35px;
  left: 39%;
  color: #222845;
  font-size: 17px;
}

.right-triangle > i {
  position: absolute;
  bottom: -35px;
  right: 48%;
  color: #222845;
  font-size: 17px;
}

.left-triangle > i:hover, .right-triangle > i:hover {
  color: #b99663;
}

.about-us-btn {
  padding: 14px 0px;
  margin-bottom: 50px;
}

.about-us-btn > a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  color: #b99663;
  border: 1px solid #b99663;
  padding: 14px 31px 13px 26px;
}

.about-us-btn > a:hover {
  background-color: #b99663;
  color: #ffffff;
}

.about-us-line {
  position: relative;
}

.about-us-line > span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #eeeeee;
}

.latest-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 24px;
}

.event-1-image {
  margin-bottom: 22px;
}

.event-1-content {
  position: relative;
}

.event-1-content > h4 {
  font-family: "Merriweather", serif;
  font-size: 16px;
  color: #222845;
  margin-bottom: 20px;
}

.event-1-content > h5 {
  font-family: "Merriweather", serif;
  font-size: 14px;
  color: #b99663;
  margin-bottom: 12px;
}

.event-1-content > span {
  background: #eeeeee;
  height: 2px;
  width: 100%;
  position: absolute;
}

.event-1-content > p {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #222845;
  line-height: 150%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.event-1-cntnt-btn {
  padding: 14px 0px;
}

.event-1-cntnt-btn > a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #b99663;
  border: 1px solid #b99663;
  padding: 14px 19px 13px 18px;
}

.event-1-cntnt-btn > a:hover {
  background: #b99663;
  color: #ffffff;
}

.our-latest-events-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 71px 40px;
  background: #222845;
  height: 774px;
  margin-top: -20px;
  position: relative;
}

.our-latest-events-banner::before {
  content: '';
  position: absolute;
  right: -18px;
  top: 0;
  border-bottom: 20px solid #505777;
  border-right: 18px solid transparent;
}

.fun-fact-1 {
  margin-bottom: 96px;
  text-align: center;
}

.fun-fact-1 > span {
  font-family: "Ubuntu", sans-serif;
  font-size: 70px;
  color: #ffffff;
  margin-bottom: 30px;
}

.fun-fact-1 > p {
  color: #c3c8e2;
  font-family: "Merriweather", serif;
  font-size: 15px;
}

.w-c-s {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.w-c-s-heading {
  text-align: center;
  margin-bottom: 60px;
}

.what {
  color: #222845;
  position: relative;
  font-size: 26px;
  font-family: "Merriweather", serif;
  margin-bottom: 17px;
}

.what:before {
  content: '';
  position: absolute;
  background: #222845;
  height: 2px;
  width: 48px;
  right: -38px;
  bottom: -11px;
}

.c-s {
  color: #b99663;
  position: relative;
  font-size: 26px;
  font-family: "Merriweather", serif;
  margin-bottom: 17px;
}

.c-s::before {
  content: '';
  position: absolute;
  background: #b99663;
  height: 2px;
  width: 48px;
  left: 41px;
  bottom: -11px;
}

.w-c-s-heading p {
  margin-top: 30px;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #222845;
}

.w-c-s-slider {
  width: 83.5%;
  margin: 0 auto;
}

.w-c-s-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 40px;
}

.comment-1 {
  width: 41%;
}

.comment-1-content {
  background: #222845;
  opacity: .9;
  margin-bottom: 25px;
  position: relative;
}

.comment-1-content::before {
  content: '';
  position: absolute;
  left: 70px;
  bottom: -14px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 14px solid #222845;
}

.comment-1-content p {
  padding: 50px 50px 58px;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 180%;
}

.comment-1-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 9%;
}

.comment-1-image-description {
  margin-left: 15px;
}

.comment-1-image-description h4, .comment-2-image-description h4 {
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  color: #222845;
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 5px;
}

.comment-1-image-description h5, .comment-2-image-description h5 {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  color: #b99663;
  font-weight: normal;
}

.comment-2 {
  width: 59%;
  position: absolute;
  right: 31px;
  top: 20px;
}

.comment-2-content {
  background: #b99663;
  opacity: .9;
  margin-bottom: 25px;
  position: relative;
}

.comment-2-content::before {
  content: '';
  position: absolute;
  right: 96px;
  bottom: -14px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 14px solid #b99663;
}

.comment-2-content p {
  padding: 60px 55px 65px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 180%;
  color: #ffffff;
}

.comment-2-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 9%;
}

.comment-2-image-description {
  margin-right: 15px;
}

.w-c-s-left-triangle > i, .w-c-s-right-triangle > i {
  position: absolute;
  top: 50%;
  color: #222845;
  font-size: 17px;
}

.w-c-s-left-triangle > i {
  left: -70px;
}

.w-c-s-right-triangle > i {
  right: -70px;
}

.w-c-s-left-triangle > i:hover, .w-c-s-right-triangle > i:hover {
  color: #b99663;
}

.history {
  background: url(../images/history-bg.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 100px;
}

.history-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 75px 0px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

.history-content {
  width: 36%;
  padding-left: 30px;
  overflow-y: scroll;
  max-height: 336px;
  min-height: 1px;
  direction: rtl;
}

.o-h-heading, .history-1 {
  direction: ltr;
}

.o-h-heading h2 {
  font-family: "Merriweather", serif;
  font-size: 35px;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 35px;
}

.history-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.history-1 span {
  margin-right: 20px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #a3a7c0;
}

.history-1 p {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #ffffff;
  line-height: 160%;
}

.history-form {
  padding-top: 65px;
  position: relative;
}

.history-form h1 {
  font-family: "Merriweather", serif;
  font-size: 35px;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 30px;
}

.history-form h1 span:before {
  content: '';
  position: absolute;
  right: 0;
  top: 115px;
  width: 289px;
  height: 2px;
  background: #b99663;
}

.history-form p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #8a8fa7;
  text-align: center;
  margin-bottom: 60px;
}

.history-form form {
  border: 2px solid #ffffff;
  padding: 13px 0px;
}

.history-form form input[type="text"] {
  height: 44px;
  background: inherit;
  outline: none;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  color: #c3c8e2;
  border: none;
  padding-left: 27px;
  border-right: 2px solid #c3c8e2;
  width: 28%;
}

.history-form form input[type="text"]::-webkit-input-placeholder, .history-form form input[type="email"]::-webkit-input-placeholder {
  color: #c3c8e2;
}

.history-form form input[type="email"] {
  height: 44px;
  background: inherit;
  outline: none;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  color: #c3c8e2;
  border: none;
  padding-left: 27px;
  border-right: 2px solid #c3c8e2;
}

.history-form form input[type="submit"] {
  background-color: transparent;
  color: #ffffff;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 9px 0px 0px 0px;
  margin-left: 35px;
  cursor: pointer;
}

.history-content::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.history-content::-webkit-scrollbar-track {
  background: #5a617d;
  border-radius: 10px;
}

/* Handle */
.history-content::-webkit-scrollbar-thumb {
  background: #a6abc1;
  border-radius: 10px;
}

.blog-news {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.blog-news-heading {
  text-align: center;
  margin-bottom: 50px;
}

.blog {
  color: #222845;
  position: relative;
  font-size: 26px;
  font-family: "Merriweather", serif;
  margin-bottom: 17px;
}

.blog:before {
  content: '';
  position: absolute;
  background: #222845;
  height: 2px;
  width: 48px;
  right: 0;
  bottom: -11px;
}

.news {
  color: #b99663;
  position: relative;
  font-size: 26px;
  font-family: "Merriweather", serif;
  margin-bottom: 17px;
}

.news::before {
  content: '';
  position: absolute;
  background: #b99663;
  height: 2px;
  width: 48px;
  left: 0;
  bottom: -11px;
}

.blog-news-heading p {
  margin-top: 30px;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #222845;
}

.blog-news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.news-image {
  height: 214px;
}

.news-image > img {
  height: 100%;
  width: 100%;
}

.blogger-1 {
  position: relative;
  background: #222845;
}

.blogger-1-image {
  position: absolute;
  left: 25px;
  top: -25px;
}

.blogger-1-name {
  padding: 19px 0px 19px 104px;
}

.blogger-1-name h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: normal;
}

.blogger-1-name h2 span {
  color: #c3c8e2;
}

.blogger-1-content {
  padding: 20px 31px 0px;
  border: 1px solid #f0f0f0;
  border-top: none;
}

.blog-1-publish-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
  padding: 0px 0px 19px 0px;
  margin-bottom: 33px;
}

.blog-date {
  font-family: "Merriweather", serif;
  font-size: 14px;
  color: #b99663;
}

.blog-comment i, .blog-type {
  color: #afafaf;
  margin-right: 6px;
}

.blog-comment span, .blog-type span {
  font-family: "Merriweather", serif;
  font-size: 14px;
  color: #b99663;
}

.blog-1-details {
  margin-bottom: 30px;
}

.blog-1-details h2 {
  font-family: "Merriweather", serif;
  color: #222845;
  font-size: 18px;
  margin-bottom: 27px;
}

.blog-1-details p {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #424242;
  line-height: 160%;
}

.read-article-btn {
  padding: 15px 0px;
  margin-bottom: 34px;
}

.read-article-btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: #b99663;
  border: 1px solid #b99663;
  padding: 14px 18px;
}

.read-article-btn a:hover {
  background: #b99663;
  color: #ffffff;
}

.u-p {
  max-width: 1140px;
  margin: 0 auto;
}

.u-p-heading {
  margin-bottom: 50px;
}

.u-p-heading h2 {
  font-family: "Merriweather", serif;
  font-size: 26px;
  color: #222845;
  font-weight: normal;
  position: relative;
}

.u-p-heading h2:before {
  content: '';
  width: 70%;
  height: 2px;
  border-bottom: 2px solid #eeeeee;
  position: absolute;
  top: 16px;
  left: 22%;
  margin-left: 22px;
}

.u-p-heading span {
  color: #b99663;
}

.u-p-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
  margin-bottom: 90px;
}

.u-p-1 a img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.1;
}

.u-p-1 a img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}

.u-p-left-triangle {
  position: absolute;
  right: 31px;
  top: -71px;
  color: #222845;
}

.u-p-right-triangle {
  position: absolute;
  top: -71px;
  right: 0;
  color: #222845;
}

.u-p-left-triangle:hover, .u-p-right-triangle:hover {
  color: #b99663;
}

.contact-info {
  background: url(../images/contact-bg.png) no-repeat center;
  background-color: #f7f7f7;
  padding-top: 100px;
}

.contact-info-container {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #e2e2e2;
  margin-bottom: 76px;
  padding: 0px 0px 17px 0px;
}

.contact-info-nav-link {
  padding: 0px 18px 0px 19px;
  cursor: pointer;
}

.contact-info-nav-link:first-child {
  padding-left: 0;
}

.contact-info-nav-link:last-child {
  padding-right: 0;
}

.contact-info-non-active {
  font-family: "Merriweather", serif;
  font-size: 16px;
  color: #b99663;
  text-decoration: none;
  padding: 0px 0px 16px 0px;
}

.contact-info-nav-active {
  color: #222845;
  border-bottom: 2px solid #222845;
}

.contact-us-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  padding-bottom: 110px;
  width: 100%;
}

.contact-us-map {
  border: 2px solid #f1f1f1;
}

.contact-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact-us-form-heading {
  margin-bottom: 50px;
}

.contact-us-form-heading > h2 {
  color: #a4a4a4;
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  font-weight: normal;
}

.contact-us-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.f-e {
  width: 100%;
  background: #fff;
  margin-bottom: 8px;
  padding: 8px 0px;
  position: relative;
}

.f-e i {
  color: #e5e5e5;
  padding: 0px 18px 0px;
  border-right: 2px solid #f3f3f3;
  position: absolute;
  top: 17px;
}

.f-e input[type="text"] {
  height: 29px;
  background: inherit;
  outline: none;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  color: #bcbcbc;
  border: none;
  padding: 12px 20px 7px 74px;
  width: 100%;
}

.f-e input[type="email"] {
  height: 29px;
  background: inherit;
  outline: none;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  color: #bcbcbc;
  border: none;
  padding: 12px 20px 7px 74px;
  width: 100%;
}

.f-e textarea {
  font-size: 15px;
  color: #bcbcbc;
  padding: 12px 20px 7px 74px;
  background-color: #ffffff;
  border-bottom: 2px solid #efefef;
  height: 175px;
  border: none;
  outline: none;
  width: 100%;
}

.f-e input[type="email"]::-webkit-input-placeholder, .f-e input[type="text"]::-webkit-input-placeholder, .f-e textarea ::-webkit-input-placeholder {
  color: #bcbcbc;
}

.f-e .fa-envelope {
  position: absolute;
  top: 23px;
}

.s-m-btn {
  padding: 15px 0px;
  margin-top: 30px;
}

.s-m-btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: #b99663;
  border: 1px solid #b99663;
  padding: 14px 16px;
}

.s-m-btn a:hover {
  background: #b99663;
  color: #ffffff;
}

.info-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 83px;
  display: none;
}

.info-heading {
  margin-bottom: 95px;
  text-align: center;
}

.info-heading > h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  color: #a4a4a4;
  font-weight: 400;
}

.info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 240px;
  margin-bottom: 95px;
}

.info-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 14%;
}

.info-address i {
  font-size: 44px;
  color: #ffffff;
  padding: 45px;
  background: #a4a4a4;
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
  margin-bottom: 56px;
}

.info-address-details h3 {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #222845;
  text-align: center;
  margin-bottom: 24px;
}

.info-address-details p {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #222845;
  text-align: center;
  line-height: 150%;
}

.info-details-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-top: 23px;
  border-top: 2px solid #eeeeee;
}

.i-d-link-1 a {
  text-decoration: none;
  color: #222845;
}

.i-d-link-1 a:hover {
  color: #b99663;
}

.i-d-link-1 i {
  font-size: 15px;
  margin-right: 6px;
}

.i-d-link-1 span {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.newsletter {
  width: 100%;
  background: #222845;
  margin-bottom: 90px;
}

.newsletter-content {
  max-width: 1140px;
  margin: 0 auto;
  padding: 17px 0px;
}

.newsletter-content form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newsletter-content form i {
  position: absolute;
  top: 13px;
  font-size: 22px;
  color: #ffffff;
}

.newsletter-content form input[type="email"] {
  padding: 7px 0px 0px 49px;
  background: inherit;
  border: none;
  outline: none;
  color: #a3a7c0;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}

.newsletter-content form input[type="email"]::-webkit-input-placeholder {
  color: #a3a7c0;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}

.newsletter-content form input[type="submit"] {
  padding: 14px 23px 13px 26px;
  background: inherit;
  border: 1px solid #ffffff;
  outline: none;
  color: #ffffff;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  gap: 65px;
  margin-bottom: 90px;
}

.footer-contact-info {
  width: 22%;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.footer-logo-heading {
  margin-left: 10px;
}

.footer-logo-heading > h1 {
  font-size: 18px;
  color: #b99663;
  font-weight: normal;
  font-family: "Merriweather", serif;
}

.footer-logo-heading > h1 > span {
  font-size: 20px;
  color: #222845;
}

.f-d-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.f-d-1 i {
  color: #222845;
  margin-right: 12px;
}

.f-d-1 p {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #222845;
  line-height: 160%;
  width: 70%;
}

.footer-contact-details-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-top: 23px;
  border-top: 2px solid #eeeeee;
}

.quick-links {
  width: 16%;
}

.quick-links-heading {
  margin-bottom: 35px;
}

.quick-links-heading h2 {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #222845;
}

.quick-links-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.link-1 a {
  text-decoration: none;
  color: #222845;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  position: relative;
}

.link-1 a:before {
  content: '';
  background-color: #e5e5e5;
  width: 19px;
  height: 2px;
  float: left;
  margin: 7px 15px 0px 0px;
}

.recent-tweets {
  width: 30%;
}

.recent-tweets-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222845;
  margin-bottom: 30px;
}

.recent-tweets-heading i {
  margin-right: 6px;
}

.recent-tweets-heading h2 {
  font-weight: 400;
}

.recent-tweets-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 37px;
}

.tweet-1 p {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #222845;
  line-height: 160%;
  margin-bottom: 12px;
}

.tweet-1 p span {
  color: #b99663;
}

.tweet-1 h4 {
  color: #222845;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.our-instructors {
  width: 24%;
}

.our-instructors-heading {
  margin-bottom: 33px;
}

.our-instructors-heading h2 {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #222845;
}

.our-instructors-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.instructor-1 {
  position: relative;
  width: 73px;
  height: 73px;
}

.instructor-1:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #b99663;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.instructor-1:hover.instructor-1:before {
  opacity: 0.5;
}

.copyright {
  background: #f6f6f6;
}

.copyright-container {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0px 37px;
}

.copyright-weather {
  color: #222845;
}

.copyright-weather i {
  margin-right: 10px;
}

.copyright-content p {
  color: #a4a4a4;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}

.copyright-content p span {
  color: #b99663;
}

.gallery {
  width: 100%;
  background: url(../images/gallery-bg.png) no-repeat center;
  background-size: cover;
  margin-bottom: 100px;
}

.gallery-content {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0px;
}

.gallery-heading {
  margin-bottom: 12px;
}

.gallery-heading span {
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-size: 30px;
}

.gallery-links a {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}

.gallery-links a:first-child {
  margin-right: 14px;
  color: #adb5db;
}

.gallery-links i {
  color: #ffffff;
  margin-right: 16px;
}

.o-g {
  color: #ffffff;
}

.gallery-images-holder {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}

.gallery-images-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}

.gallery-inactive {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  color: #b99663;
  border: 1px solid #b99663;
  padding: 14px 22px 13px;
}

.gallery-active {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-size: 12px;
  background: #b99663;
  border: 1px solid #b99663;
  padding: 14px 22px 13px;
}

.gallery-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 24px;
  margin-bottom: 50px;
}

.gallery-image-1 {
  position: relative;
  width: 100%;
}

.gallery-image-1 img {
  width: 100%;
  height: 100%;
}

.gallery-image-1-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222845ab;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
}

.gallery-image-1-links {
  position: relative;
  color: #ffffff;
  font-size: 20px;
}

.gallery-image-1-links a {
  position: absolute;
  right: 18px;
  top: 18px;
}

.gallery-image-1-links a i {
  color: #222845;
  padding: 20px;
  background: #ffffff;
  border-radius: 50px;
}

.gallery-image-1-links p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #ffffff;
  width: 58%;
  text-align: center;
  position: absolute;
  top: 157px;
  left: 20%;
}

.gallery-image-1:hover .gallery-image-1-overlay {
  opacity: 1;
}

.gallery-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
  padding: 16px 18px;
  width: 100%;
}

.prvs-btn, .next-btn {
  padding: 15px 28px 15px 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  color: #a9a9a9;
  background: #fff;
  border-bottom: 2px solid #eaeaea;
}

.prvs-btn i, .next-btn i {
  font-size: 10px;
}

.prvs-btn a, .next-btn a {
  text-decoration: none;
  color: #a9a9a9;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-style: italic;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.pagination span {
  color: #a9a9a9;
  padding-top: 4px;
  font-size: 38px;
}

.pagination a {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #a9a9a9;
  padding: 16px 22px;
  border-bottom: 2px solid #eaeaea;
}

.pagination a:hover {
  color: #222845;
  border-bottom: 2px solid #222845;
}

.prvs-btn:hover, .next-btn:hover {
  border-bottom: 2px solid #222845;
  color: #222845;
}

.prvs-btn:hover.prvs-btn a, .next-btn:hover.next-btn a {
  color: #222845;
}
/*# sourceMappingURL=style.css.map */